{% extends 'layout.twig' %}

{% block content %}


<div class="pure-g">
  <div class="pure-u-3-5">
      <h2>About us!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      {#!% if curl_result is defined %}
          <p>{{ curl_result|json_encode(constant('JSON_PRETTY_PRINT')) }}</p>
      {% endif %#}
      <ul>
          {% for user in curl_result %}
              <li>{{ user.name }} : {{ user.profile }}</li>
          {% endfor %}
      </ul>
  </div>
</div>

{% endblock %}
