{% extends 'layout.twig' %}

{% block content %}


<div class="pure-g">
  <div class="pure-u-3-5">
    <h2>Contact us!</h2>
    <p>Tel: Lorem ipsum dolor sit amet</p>
    <p>Adress: consectetur adipiscing elit</p>
    <p>Send comment:</p>
  </div>
  <div class="pure-u-3-5">
    <form action="{{path_for}}/confirm" method="post">
      <p>
        <input type="text" name="contentForm">
        <input type="submit" value="Send" />
      </p>
    </form>
  </div>
</div>

{% endblock %}
