{% extends 'layout.twig' %}


{% block content %}
<!-- global content -->
<div class="row">
  <!-- lateral menu -->
  <div class="col-md-1">
    <ul class="nav flex-column">
      <h5 class="text-center">Authors</h5>
      {% for i in display_author %}
        <li class="nav-item">
          <form class="nav-link" method="post" action="{{ path_for('sort',{'id':i.id}) }}">
            <p><input  type="submit" class="btn btn-primary btn-sm" name="sort" value="{{i.username}}"></input></p>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Main body -->
  <div class="col-md-11">
    {% block homeContent %} {% endblock %}
  </div>
</div>



{% endblock %}
