{% extends 'layout.twig' %}


{% block content %}
  <p>Homepage</p>
  {% if curl_result is defined %}
  <p>{{ curl_result|json_encode(constant('JSON_PRETTY_PRINT')) }}</p>
  {% endif %}
{% endblock %}
