{% extends 'layout.twig' %}

{% block content %}

  <h2>Welcome to this website</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus sit amet diam sit amet accumsan. Cras vel nulla vehicula, ultricies sapien at, interdum purus. Curabitur nec turpis non lorem vestibulum auctor. Aenean interdum, eros sit amet gravida scelerisque, nisl purus venenatis sapien, et cursus ante augue at enim. Nunc feugiat scelerisque mollis. Cras pulvinar tellus nec ex malesuada lacinia. Sed et felis sem. Proin id lacus quis tellus feugiat aliquam.
  </p>
  <p>
      Donec nisi felis, sollicitudin non sodales sed, posuere porttitor magna. Ut malesuada luctus rutrum. In et ligula in metus bibendum luctus. Maecenas et libero in enim mollis consectetur at nec nibh. Proin lacinia mattis odio, elementum varius nunc egestas sed. Etiam egestas condimentum efficitur. Pellentesque felis justo, scelerisque vulputate vestibulum ut, scelerisque a augue. Nulla sem justo, pretium at ultricies sed, consectetur sit amet sem. Integer sodales faucibus egestas. Proin in felis nec nunc blandit ultricies a eu dui. Fusce leo enim, tincidunt vel consectetur id, sagittis id ex. Duis interdum consequat quam hendrerit rutrum. Ut feugiat suscipit tortor, in suscipit elit tincidunt ac.
  </p>
  <p>
      Nulla erat dui, aliquet sed quam vel, tempus porta nunc. Mauris sit amet ex vitae nulla tempor mattis. Nulla et bibendum ex. In viverra arcu vitae nisi faucibus, id volutpat arcu elementum. Sed id rhoncus neque. Maecenas sit amet diam tempus, venenatis leo a, facilisis erat. Aenean rhoncus tempus vehicula.
  </p>

{% endblock %}
