<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

        {# bootstrap  #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {# Our customized css #}
        <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
    </head>
    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Innovation blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  {% if curl_result.label == undefined %}
                  {% include 'nav_visitor.twig' %}
                  {% elseif curl_result.label == 1 %}
                  {% include 'nav_user.twig' %}
                  {% elseif curl_result.label == 2 %}
                  <button type="button" class="btn btn-primary btn-sm mr-5" data-toggle="modal" data-target="#exampleModalCenter">
                    Create new article
                  </button>
                  {% include 'nav_author.twig' %}
                 
                  {% elseif curl_result.label == 3 %}
                  <button type="button" class="btn btn-primary btn-sm mr-5" data-toggle="modal" data-target="#exampleModalCenter">
                    Create new article
                  </button>
                  {% include 'nav_admin.twig' %}

                  {% endif %}
                </div>
            </nav>

          {% block content %} {% endblock %}



          {% include 'partials/footer.twig' %}



        </div>
        <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg text-center" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Article Creation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="{{path_for('new_article')}}">
                    <p>Article title</p>
                    <input type="text" name="title"></input>

                    <p>Article content</p>
                    <textarea type="textarea" name="content" cols="55" rows="15"></textarea>

                    <p><input type="submit" name="create"></input></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>
