{% extends 'layout.twig' %}

{% block content %}

  <h2>Welcome to the blog of the site Innovation.io</h2>
  <h5>Please log in to see our marvelous ideas to conquer the world</h5>

  <form method="post" action="">
    <p>Enter your userName</p>
    <input type="text" name="username"></input>
    <p>Enter your password</p>
    <input type="password" name="password"></input>
    <p><input type="submit" name="log"></input></p>
  </form>

{% endblock %}
