{#% extends 'layout.twig' %#}

{% block nav %}
<span class="navbar-text">
{{curl_result.username}} (Author)
</span>
<form method="post" action="disconnect"><button class="btn btn-primary btn-sm">disconnect</button></form>
{% endblock %}
