{#% extends 'layout.twig' %#}

{% block nav %}
<span class="navbar-text">
{{curl_result.username}} (User)
</span>
<form method="post" action="{{path_for('disconnect')}}"><button class="btn btn-primary btn-sm">Disconnect</button></form>
{% endblock %}
