{% extends 'home.twig' %}

{% block content %}
<span class="navbar-text">
{{curl_result.username}} (author)
</span>
<form method="post" action="disconnect"><button>disconnect</button></form>
{% endblock %}