{% extends 'layout.twig' %}

{% block content %}

  <h2>Welcome to the blog of the site Innovation.io</h2>
  <h5>Please create an account, and join us on our blaze of glory</h5>

  <form method="post" action="">
    <p>Which username do you want? Evil one I hope</p>
    <input type="text" name="username"></input>

    <p>Choose a password, don't mess it up it's important</p>
    <input type="password" name="password"></input>

    <p>Confirm your password</p>
    <input type="password" name="password"></input>

    <p><input type="submit" name="log"></input></p>
  </form>

{% endblock %}
